<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" th:href="@{/assets/css/colorbox.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/chosen.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/My97DatePicker/skin/WdatePicker.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/ztree/css/zTreeStyle.css}"/>
    <head th:include="fragments/head::header" />
</head>
<body>
    <div th:include="fragments/top::top"></div>
    <div class="main-container" id="main-container">
        <div class="main-container-inner">
            <div th:include="fragments/left::left" class="sidebar" id="sidebar"></div>
            <div class="main-content">
                <div class="breadcrumbs" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li><i class="icon-home home-icon"></i> <a href="/main">首页</a></li>
                        <li>合作机构</li>
                        <li>合作机构信息</li>
                    </ul>
                </div>
                <div class="page-content">
                    <h3 class="header smaller lighter blue">合作机构信息</h3>
                    <div id="ulId" class=""></div>
                    <br/>
                    <form method="post" id="edit">
                        <div  class="tab-pane fade in active">
                            <div class="container">
                                <div class="form-horizontal">
                                    <div class="form-group" id="div_senderType" style="height:29px">
                                        <label class="col-sm-3 control-label no-padding-right blue">机构类型：</label>
                                        <select type="" class="col-sm-3 form-control input-sm" name="agencyType" style="width:190px;height:25px;">
                                            <option value="-1">请选择</option>
                                            <option value="1">接机</option>
                                            <option value="2">保险</option>
                                            <option value="3">监护</option>
                                            <option value="4">住宿</option>
                                            <option value="5">院校</option>
                                        </select>
                                        <label class="col-sm-3 control-label no-padding-right blue">机构名称：</label>
                                        <input class="col-sm-2" name="agencyName"/>
                                    </div>
                                    <div class="form-group" style="height: 29px;">
                                        <label class="col-sm-3 control-label no-padding-right no-padding-left blue"> 所属国家：</label>
                                        <input class="col-sm-2" id="input_nationName" value="-请选择-" onclick="chooseCountry()"/>
                                        <input class="col-sm-1" id="input_nationId" name="nationId" style="display: none" />
                                    </div>
                                    <div id="div_countryTree" style="display: none;">
                                        <div class="form-group">
                                            <div data-options="region:'west',split:true"  class="col-sm-3">
                                                <ul id="roleTree" class="ztree" style="margin-top: 30px;"></ul>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary" onclick="saveCountry()">保存</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right blue">备注：</label>
                                        <textarea class="col-sm-5" cols="10" name="content"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-primary" id="submits">保存</button>
                                        <button type="button" id="returnPage" class="btn btn-default" data-dismiss="modal">返回</button>
                                    </div>
                                    <div id="alert" class="alert alert-success" style="display: none;" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <span id="alertText"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br/><br/><br/><br/><br/><br/><br/><br/>
                </div>
            </div>
            <div th:include="fragments/bottom::bottom"></div>
        </div>
        <a href="#" id="btn-scroll-up"
           class="btn-scroll-up btn btn-sm btn-inverse"> <i
                class="icon-double-angle-up icon-only bigger-110"></i>
        </a>
    </div>
</body>
</html>