<!DOCTYPE html>
<html lang="en">
<head th:include="fragments/head::header"></head>
<body class="no-skin">
    <div th:include="fragments/navbar::navbar"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('sidebar')}catch(e){}
    </script>
    <div th:fragment="left" id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                <button class="btn btn-success">
                    <i class="ace-icon fa fa-signal"></i>
                </button>
                <button class="btn btn-info">
                    <i class="ace-icon fa fa-pencil"></i>
                </button>
                <button class="btn btn-warning">
                    <i class="ace-icon fa fa-users"></i>
                </button>
                <button class="btn btn-danger">
                    <i class="ace-icon fa fa-cogs"></i>
                </button>
            </div>
            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>
                <span class="btn btn-info"></span>
                <span class="btn btn-warning"></span>
                <span class="btn btn-danger"></span>
            </div>
        </div>
        <ul class="nav nav-list">
            <li class="active">
                <a href="index.html">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Dashboard </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li th:each="item,iterStat:${session.permissionList}" class="">
                <a th:href="${item.permissionUrl}" >
                    <i class="menu-icon fa fa-list-alt"></i>
                    <span class="menu-text" th:text="${item.permissionName}"></span>
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                <ul class="breadcrumb">
                    <li><i class="icon-home home-icon"></i> <a href="/main">首页</a></li>
                    <li>合作伙伴管理生命周期流程</li>
                    <li>集团黑灰名单模板</li>
                </ul>
            </div>

            <div class="page-content">
                <h3 class="header smaller lighter blue">集团黑灰名单模板</h3>
                <div id="ulId" class=""></div>
                <br/>
                <form method="post" id="edit">
                    <div  class="tab-pane fade in active">
                        <div class="container">
                            <div class="form-horizontal">
                                <div class="form-group" id="div_senderType" style="height:29px">
                                    <label class="col-sm-3 control-label no-padding-right blue">中文名称：</label>
                                    <input class="col-sm-2" name="agencyName"/>
                                    <label class="col-sm-3 control-label no-padding-right blue">所在城市：</label>
                                    <input class="col-sm-2" name="agencyName"/>
                                </div>
                                <div class="form-group" style="height: 29px;">
                                    <label class="col-sm-3 control-label no-padding-right no-padding-left blue"> 关键字 1：</label>
                                    <input class="col-sm-2" name="agencyName"/>
                                    <label class="col-sm-3 control-label no-padding-right blue">关键字 2：</label>
                                    <input class="col-sm-2" name="agencyName"/>
                                </div>
                                <div class="form-group" style="height: 29px;">
                                    <label class="col-sm-3 control-label no-padding-right no-padding-left blue"> 关键字 3：</label>
                                    <input class="col-sm-2" name="agencyName"/>
                                    <label class="col-sm-3 control-label no-padding-right blue">黑灰标识：</label>
                                    <input class="col-sm-2" name="agencyName"/>
                                </div>

                                <div class="form-group has-info">
                                    <label class="col-sm-3 control-label no-padding-right no-padding-left blue">关键事件记录：</label>
                                    <div class="col-xs-12 col-sm-7">
                                        <span class="block input-icon input-icon-right">
                                            <textarea rows="5" cols="10" class="form-control" placeholder="关键事件记录"></textarea>
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-reset inline"></div>
                                </div>

                                <div class="form-group has-info">
                                    <label class="col-sm-3 control-label no-padding-right no-padding-left blue">合规部的合作指导：</label>
                                    <div class="col-xs-12 col-sm-7">
                                        <span class="block input-icon input-icon-right">
                                            <textarea rows="5" cols="10" class="form-control" placeholder="合规部的合作指导"></textarea>
                                        </span>
                                    </div>
                                    <div class="help-block col-xs-12 col-sm-reset inline"></div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" id="submits">保存</button>
                                    <button type="button" id="returnPage" class="btn btn-default" data-dismiss="modal">返回</button>
                                </div>
                                <div id="alert" class="alert alert-success" style="display: none;" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <span id="alertText"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br/><br/><br/><br/><br/><br/><br/><br/>
            </div>
        </div>
    </div>
    <div th:include="fragments/bottom::bottom"></div>
</div>
</body>
</html>
